
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/
native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

#//////////////////////////
# Build snapshots & intermediates
#//////////////////////////
tmp/

#//////////////////////////
# OS & language caches
#//////////////////////////
.DS_Store
__pycache__/
*.pyc